<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Save Restaurant</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h3>Restaurant directory</h3>
  <hr>

  <p class="h4 mb-4">Save restaurant</p>

  <form action="#"  th:action="@{/restaurants/save}"
        th:object="${restaurant}" method="POST">

    <input type="hidden" th:field="*{id}"/>

    <input type="text" th:field="*{name}"
           class="form-control mb-4 col-4" placeholder="Restaurants name">

    <input type="text" th:field="*{code}"
           class="form-control mb-4 col-4" placeholder="Restaurants code">

    <input type="text" th:field="*{address}"
           class="form-control mb-4 col-4" placeholder="Address">

    <button type="submit" class="btn btn-info col-2">Save</button>

  </form>

  <hr>
  <a th:href="@{/restaurants/list}"> - Back to Restaurants List - </a>

</div>


</body>
</html>