<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <taglib prefix="form" uri="http://www.springframework.org/tags/form" />
    <taglib prefix="security" uri="http://www.springframework.org/security/tags" />
    <meta charset="UTF-8">
    <title>Save Dish</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<br>
<br>
<br>
<br>

<div class="d-grid gap-2 col-5 mx-auto" sec:authorize="${hasRole('ROLE_ADMIN')}">
    <a th:href="@{/restaurants/list}" type="submit" class="btn btn-primary">Restaurants</a>
    <a th:href="@{/dishes/list}" type="submit" class="btn btn-primary">Menus</a>
    <a th:href="@{@{/menus/list}}" type="submit" class="btn btn-primary">Dishes</a>
</div>
<br>
<div class="d-grid gap-2 col-4 mx-auto" sec:authorize="${hasRole('ROLE_EMPLOYEE')}">
    <a th:href="@{/restaurants-employee/list}" type="submit" class="btn btn-primary">Restaurants</a>
</div>

<form method="get" action="/logout">
    <button class="btn btn-primary" type="submit">Logout</button>
</form>

</body>
</html>